.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup {
  display: flex;
}

.label {
  margin-right: 20px;
  width: 20%;
}

.button {
  margin-top: 15px;
}

.customUrl {
  @extend .formGroup;
  width: 100%
}

.tinyUrlResponse {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 1.25rem;
}

.tinyUrlResponseError {
  color: #dc3545;
  font-size: 16px;
}

.instructions {
  color:darkblue;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}
