.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup {
  display: flex;
}

.label {
  margin-right: 20px;
  width: 60px;
}

.button {
  margin-top: 20px;
}

.description {
  margin-bottom: 40px;
}

.tinyUrlResponse {
  margin-top: 40px;
  font-size: 22px;
  font-weight: bold;
}
