.App {
    text-align: center;
}

.App-logo {
    height: 8vmin;
    pointer-events: none;
}

.App-header {
    background-color: #61dafb;
    min-height: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

section {
    margin-top: 50px
}
